body {
    font-family: 'Special Elite', serif;
    font-size: 19px;
    color: orange;
    text-align: center;
    margin: auto;
    width: 90%;
    /*background-attachment: scroll;*/
}
 
#intro {
    font-size: 60px;
}

#button {
    padding: 3px;
    margin: 5px;
}

footer {
    font-size: 12px;
}

#coffins {
    font-size: 50px;
}

#coffins button {
    color: black;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}